In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import re

In [3]:
data=pd.read_csv('Chocolate Sales.csv')
df= pd.DataFrame(data)
print(df.head())

     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

df.tail(3)  # Muestra las últimas 'n' filas del DataFrame
df.shape  # Retorna una tupla con el número de filas y columnas
df.dtypes  # Retorna los tipos de datos de cada columna
df.count()  # Cuenta el número de valores no nulos en cada columna
df['País de nacimiento'].unique() #Ver registros únicos de una columna

In [4]:
df['Date']= pd.to_datetime(df['Date'], errors='coerce')

print('Conjunto de datos: \n', df)

Conjunto de datos:
           Sales Person    Country              Product       Date    Amount  \
0       Jehu Rudeforth         UK      Mint Chip Choco 2022-01-04   $5,320
1          Van Tuxwell      India        85% Dark Bars 2022-08-01   $7,896
2         Gigi Bohling      India  Peanut Butter Cubes 2022-07-07   $4,501
3         Jan Morforth  Australia  Peanut Butter Cubes 2022-04-27  $12,726
4       Jehu Rudeforth         UK  Peanut Butter Cubes 2022-02-24  $13,685
...                ...        ...                  ...        ...       ...
1089  Karlen McCaffrey  Australia  Spicy Special Slims 2022-05-17   $4,410
1090    Jehu Rudeforth        USA           White Choc 2022-06-07   $6,559
1091      Ches Bonnell     Canada  Organic Choco Syrup 2022-07-26     $574
1092    Dotty Strutley      India              Eclairs 2022-07-28   $2,086
1093  Karlen McCaffrey      India       70% Dark Bites 2022-05-23   $5,075

      Boxes Shipped
0               180
1                94
2                91
3               342
4               184
...             ...
1089            323
1090            119
1091            217
1092            384
1093            344

[1094 rows x 6 columns]

C:\Users\crisj\AppData\Local\Temp\ipykernel_9516\1470582907.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date']= pd.to_datetime(df['Date'], errors='coerce')

In [5]:
df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)
df['amount_accuracy'] = df['Amount'].apply(lambda x: True if pd.notnull(x) and x > 0 else False)

print(df[['Amount', 'amount_accuracy']])

       Amount  amount_accuracy
0      5320.0             True
1      7896.0             True
2      4501.0             True
3     12726.0             True
4     13685.0             True
...       ...              ...
1089   4410.0             True
1090   6559.0             True
1091    574.0             True
1092   2086.0             True
1093   5075.0             True

[1094 rows x 2 columns]

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\crisj\AppData\Local\Temp\ipykernel_9516\2404549000.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)

In [23]:
df['amount_accuracy'] = df['Amount'].apply(lambda x: True if pd.notnull(x) and x>0 else False)
print("Montos negativos \n", df.loc[df['amount_accuracy'] == False, ['Sales Person', 'Amount', 'amount_accuracy']])

Montos negativos
 Empty DataFrame
Columns: [Sales Person, Amount, amount_accuracy]
Index: []

In [24]:
df['Sales_Per complete']= df['Sales Person'].notna()
df['Country complete']= df['Country'].notna()
df['Product complete']= df['Product'].notna()

print('Integridad (Sales person, Country and Product)\n', 
df.loc[
    (df['Sales_Per complete']==False) | (df['Country complete']==False) | (df['Product complete']==False),
     ['Sales Person','Country','Product']])

Integridad (Sales person, Country and Product)
 Empty DataFrame
Columns: [Sales Person, Country, Product]
Index: []

In [25]:
today= datetime.now()
df['Fecha_coherente']= df['Date'].apply(lambda x:x <= today if pd.notnull(x)else False)
print('Fechas averiadas: \n', df.loc[df['Fecha_coherente']==False, ['Date']])

Fechas averiadas:
 Empty DataFrame
Columns: [Date]
Index: []

In [26]:
df['id'] = df.index  # Crea una columna 'id' con los valores del índice
print(df[['id', 'Sales Person', 'Country']])  # Verifica que 'id' ahora existe

        id      Sales Person    Country
0        0    Jehu Rudeforth         UK
1        1       Van Tuxwell      India
2        2      Gigi Bohling      India
3        3      Jan Morforth  Australia
4        4    Jehu Rudeforth         UK
...    ...               ...        ...
1089  1089  Karlen McCaffrey  Australia
1090  1090    Jehu Rudeforth        USA
1091  1091      Ches Bonnell     Canada
1092  1092    Dotty Strutley      India
1093  1093  Karlen McCaffrey      India

[1094 rows x 3 columns]

In [27]:
df['id_unico'] = ~df['id'].duplicated(keep=False)
print("\nUnicidad (ID único):\n", df[['id', 'id_unico']])

Unicidad (ID único):
         id  id_unico
0        0      True
1        1      True
2        2      True
3        3      True
4        4      True
...    ...       ...
1089  1089      True
1090  1090      True
1091  1091      True
1092  1092      True
1093  1093      True

[1094 rows x 2 columns]

In [28]:
df['fecha_oportuna'] = df['Date'].apply(lambda x: x >= datetime(2022, 1, 1) if pd.notnull(x) else False)
print("\nOportunidad (Fechas de registro recientes):\n", df.loc[df['fecha_oportuna']==False,['id', 'Date', 'fecha_oportuna']])

Oportunidad (Fechas de registro recientes):
 Empty DataFrame
Columns: [id, Date, fecha_oportuna]
Index: []

In [29]:
df['datos_aptos']= df.apply(lambda row: row['amount_accuracy'] and row['Sales_Per complete'] 
                            and row['Country complete'] and row['Product complete'],axis=1)

print("\nAptitud (Datos no aptos para contacto):\n", df.loc[df['datos_aptos']==False,['id', 'datos_aptos']])

Aptitud (Datos no aptos para contacto):
 Empty DataFrame
Columns: [id, datos_aptos]
Index: []

In [6]:
df.describe()

                                Date        Amount  Boxes Shipped
count                           1094   1094.000000    1094.000000
mean   2022-05-03 09:04:56.160877568   5652.308044     161.797989
min              2022-01-03 00:00:00      7.000000       1.000000
25%              2022-03-02 00:00:00   2390.500000      70.000000
50%              2022-05-11 00:00:00   4868.500000     135.000000
75%              2022-07-04 00:00:00   8027.250000     228.750000
max              2022-08-31 00:00:00  22050.000000     709.000000
std                              NaN   4102.442014     121.544145

In [33]:
from scipy.stats import shapiro

# Aplicar la prueba de Shapiro-Wilk
stat, p_value = shapiro(df['Amount'])

# Mostrar los resultados
print(f"Estadístico de Shapiro-Wilk: {stat:.4f}, Valor p: {p_value:.4f}")

# Interpretar el resultado
if p_value > 0.05:
    print("Los datos siguen una distribución normal.")
else:
    print("Los datos no siguen una distribución normal.")

Estadístico de Shapiro-Wilk: 0.9360, Valor p: 0.0000
Los datos no siguen una distribución normal.

In [34]:
df.to_csv("Chocolateria_limpio.csv", index=False)